<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type='text'
                        [(ngModel)]='listFilter'/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtered by: {{listFilter}}</h4>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='pizzas.length'> 
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let pizza of filteredPizzas'>
                    <td>
                      <a [routerLink]="['/pizzas', pizza.id]">
                        {{pizza.name}}
                      </a>
                    </td>
                    <td>{{pizza.price | currency:'USD':'symbol':'1.2-2'}}</td>
                </tr>
            </tbody>
            </table>
    </div>
    <button class="btn btn-outline-secondary"
            (click)='replenishIngredients()'>
            Replenish ingredients
    </button>
</div>