<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    
    <div class='card-body' *ngIf='ingredients'><!--*ngIf='pizza'-->
    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <h5>Ingredients:</h5>
          <tr *ngFor='let ingredient of ingredients.ingredients'>
            <td>{{ingredient}} </td>
        </tr>
        </div>
        <div class='row' *ngIf='ingredients.price'>
          <div class='col-md-4'><br><h5>Price:</h5></div>
          <div class='col-md-8'><br><h5>{{ingredients.price}}</h5></div>
        </div>
      </div>
    </div>
  </div>

    <div class="card-footer">
        <button class="btn btn-outline-secondary"
                (click)='onBack()'>
            <i class="fa fa-chevron-left"></i> Back
        </button>
         <button class="btn btn-outline-secondary"
                (click)='takeIngredients()'
                *ngIf='ingredients?.price && !availabilityOfIngredients'>
                Take Ingredients
        </button>
         <button class="btn btn-outline-secondary"
                (click)='cook()'
                *ngIf='availabilityOfIngredients && !cookedPizza'>
                Cook
        </button>
        <button class="btn btn-outline-secondary"
                (click)='pay()'
                *ngIf='cookedPizza && !payedPizza'>
                Pay
        </button>
    </div>
    <div *ngIf='payedPizza'>The order is paid</div>
</div>